* {box-sizing: border-box;}

html{
  overflow-x: hidden;
  scroll-snap-type: y mandatory;

}
body, html {
  background-color: black;
  height: 100%;
  margin: 0;
  font-family: Neutrif-Pro, sans-serif;

}

@font-face {
    font-family: Neutrif-Pro;
    src: url("fonts/NeutrifProLight.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: Neutrif-Pro;
    src: url("fonts/NeutrifProRegular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Neutrif-Pro;
    src: url("fonts/NeutrifProMedium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Neutrif-Pro;
    src: url("fonts/NeutrifProSemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Neutrif-Pro;
    src: url("fonts/NeutrifProBold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

/*loader*/
#l-back {
  background: black;
  width:100%;
  height:100%;
  margin:auto;

}
#loader {
  background-image:url("images/a3a1.png");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: 35%;
  z-index: 1;
  margin: auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 2.5s;
  animation-name: animatebottom;
  animation-duration: 2.5s
}

@-webkit-keyframes animatebottom {
  from {opacity:0; } 
  to { opacity:1; }
}

@keyframes animatebottom { 
  from{opacity:0; } 
  to{opacity:1; }
}

#maindiv{
  display:none;
}


/*menubutton*/

.mcontainer {
  display: inline-block;
  cursor: pointer;
  padding-top: 6px;
  z-index: 2;




}

.bar1, .bar2{
  width: 30px;
  height: 1px;
  background-color: white;
  margin: 10px 0px;
  z-index: 2;


  
}



.change .bar1 {
  animation-duration: 1s;
  animation-name: change1;
  animation-fill-mode: both;
  
  


}
@keyframes change1 {
  from {
    transform: rotate(0deg);
    transform: translate(0px, 0px);
  }

  75% {
    transform: translate(0px, 6px);
    
  }

  to {
    transform: rotate(-45deg) translate(-8px, 0px);
    
  }
}
 



.change .bar2 {
  animation-duration: 1.2s;
  animation-name: change2;
  animation-fill-mode: both;
  
}

@keyframes change2 {
  from {
    transform: rotate(0deg);
    transform: translate(0px, 0px);
  }

  75% {
    transform: translate(0px, -6px);
    
  }

  to {
    transform: rotate(45deg) translate(-8px, 0px);
    
  }
}


.changerev .bar1 {
  animation-duration: 1s;
  animation-name: changerev1;
  animation-fill-mode: both;
  
  


}
@keyframes changerev1 {
  from {
    transform: rotate(-45deg) translate(-8px, 0px);

  }

  75% {
    transform: translate(0px, 6px);
    
  }

  to {
    transform: rotate(0deg);
    transform: translate(0px, 0px);
  }
}
 



.changerev .bar2 {
  animation-duration: 1.2s;
  animation-name: changerev2;
  animation-fill-mode: both;
  
}

@keyframes changerev2 {
  from {
    transform: rotate(45deg) translate(-8px, 0px);

  }

  75% {
    transform: translate(0px, -6px);
    
  }

  to {
    transform: rotate(0deg);
    transform: translate(0px, 0px);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 2.5s;
  animation-name: animatebottom;
  animation-duration: 2.5s
}

@-webkit-keyframes animatebottom {
  from {opacity:0; } 
  to { opacity:1; }
}

@keyframes animatebottom { 
  from{opacity:0; } 
  to{opacity:1; }
}

#navbar {
  overflow: hidden;
  background-color: none;
  border-color: white;
  border-style: none none solid none;
  border-width: 1px;
  height: 45px;
  position: fixed;
  top: 1%;
  width: 0%;
  display:initial;
  margin-left: 5%;
  margin-right: 5%;
  z-index: 8;
  transition: 0.5s;


}

#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: left;
  padding: 14px 0px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 100;
}

#leftc {
  text-align:right;
  z-index: 8;
  opacity:0;
  transition: 2s;
}

/*Menu*/

.overlay {
  height: 0%;
  width: 50%;
  position: fixed;
  z-index:7;
  top: 0;
  right: 0;
  background-color: rgb(7, 7, 7);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 30%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}



.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 50px;
  color: #818181;
  display: block;
  transition: 0.3s;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay2 {
  height: 0%;
  width: 50%;
  position: fixed;
  z-index: 7;
  bottom: 0;
  left: 0;
  background-color: rgb(7,7,7);
  overflow-y: hidden;
  transition: 0.5s;
}



/*maintext*/
.maintext {
  color: white;
  font-size: 90px;
  font-weight:600;
  margin-top: -300px;
  margin-left:5%;
  z-index:5;
  position: relative;
  opacity:0;
  transform: translateY(100px);
  transition: opacity 2s 0.5s cubic-bezier(0.19, 1, 0.21, 1),transform 2s 0.5s cubic-bezier(0.19, 1, 0.21, 1); 
  will-change: transform, opacity;
  left:0;
}

.maintext.is-visible {
  transform: translateY(0px);
  opacity:1;
}

.shadowtext {
  color:rgb(14,14,14);
  font-size: 150px;
  font-weight:700;
  margin-top: -280px;
  margin-left:5%;
  z-index:1;
  position: relative;
  padding-top: 10px;
  line-height: 150%;
  opacity:0;
  transform: translateY(100px);
  transition: opacity 2.5s 1s cubic-bezier(0.19, 1, 0.22, 1),transform 2.5s 1s cubic-bezier(0.19, 1, 0.22, 1); 
  will-change: transform, opacity;
  left:0;
}

.shadowtext.is-visible {
  transform: translateY(0px);
  opacity:1;
}

/*scrolldown prompt*/

.prompt {
  color: white;
  font-size: 20px;
  font-weight:200;
  margin-top: 50px;
  margin-left:12%;
  z-index:5;
  position: relative;
  opacity:0;
  transform: translateY(50px);
  transition: opacity 4s 3s cubic-bezier(0.19, 1, 0.21, 1),transform 4s 3s cubic-bezier(0.19, 1, 0.21, 1); 
  will-change: transform, opacity;
  left:0;
}

.prompt.is-visible {
  transform: translateY(0px);
  opacity:1;
}
.arrow{
    position: absolute;
    top: 83.5%;
    left: 23.5%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: opacity 5s 4s cubic-bezier(0.19, 1, 0.21, 1);
}

.arrow.is-visible{
  opacity: 1;
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-8px,-8px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(8px,8px);
    }
}

/*brand*/
.bcontainer{
  height:100%;
  scroll-snap-align: start;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.brand {
  cursor: pointer;
  color: white;
  font-size: 100px;
  font-weight:600;
  top: 150px;
  margin-left:20%;
  z-index:5;
  position: relative;
  opacity:0;
  transform: translateX(-200px);
  transition: opacity 1s 0.5s cubic-bezier(0.19, 1, 0.21, 1),transform 1s 0.5s cubic-bezier(0.19, 1, 0.21, 1); 
  will-change: transform, opacity;
  left:0;
}

.brand.is-visible {
  transform: translateX(0px);
  opacity:1;
}

.bshadow {
  cursor: pointer;
  color: rgb(14,14,14);
  font-size: 150px;
  font-weight:700;
  top: 110px;
  margin-left:20%;
  z-index:3;
  position: relative;
  opacity:0;
  transform: translateX(-200px);
  transition: opacity 2s 0.5s cubic-bezier(0.19, 1, 0.21, 1),transform 2s 0.5s cubic-bezier(0.19, 1, 0.21, 1); 
  will-change: transform, opacity;
  left:0;
}

.bshadow.is-visible {
  transform: translateX(0px);
  opacity:1;
}

.bwheel{
  cursor: pointer;
  z-index: 6;
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: -150px;
  left:-38%;
  margin: auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  -webkit-animation: spin1 5s linear infinite;
  animation: spin1 5s linear infinite;
}

@-webkit-keyframes spin1 {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin1 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/*search*/

#scontainer {

  width:0%;
  opacity: 0;
  text-align: center;
  margin: auto;
  margin-top:100px;
  transition: 1s;

}

#myInput {
/*  background-image: url('images/longchamps.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  background-size: 30px;*/
  width: 100%;
  font-size: 25px;
  padding: 12px 12px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  text-decoration: none;
  outline: none;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}

#myUL li a {

  border: 0px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: none;
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;

}

#myUL li a:hover:not(.header) {
  color: grey;
}


/*slidehshow*/

/* SLIDER MAIN CONTAINER */
.fg-slider {
    position: relative;
    width: 650px;
    height: 550px;
    overflow: hidden;
    top:150px;
    right:-700px;
    transform: rotate(0deg);
    opacity: 0;
    z-index: 4;
    transition: transform 3s .25s cubic-bezier(0,1,.3,1), opacity 1s .25s ease-out;
    will-change: transform, opacity;
}

.fg-slider.is-visible {
  opacity: 1;
  transform: rotate(5deg);
}


/* SLIDER ITEMS */
.slider-item {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.slider-item.active {
    opacity: 1;
    visibility: visible;
}

/* SLIDER TEXT CONTENT */
.slider-item .fg-content {
    position: absolute;
    left: 50%;
    top: 48%;
    z-index: 99;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.slider-item.active .fg-content {
    top: 50%;
    opacity: 1;
    visibility: visible;
    -webkit-transition-delay: .7s;
            transition-delay: .7s;
}

/* ARROW CONTAINER, ARROWS */
.arrow-container {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 9;
}

/* SLIDER ARROWS */
.arrow-container > div {
    width: 40px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    display:none;
}

.arrow-container>div:hover {
    background-color: rgba(255, 255, 255, 0.9);
    display:none;
}

.arrow-container i {
    font-size: 23px;
    color: #2e2e2e;
}

.right-arrow {
    right: -40px;
}

.left-arrow {
    left: -40px;
}

.fg-slider:hover .arrow-container>div {
    opacity: 1;
    visibility: visible;
}

.fg-slider:hover .left-arrow {
    left: 0;
}

.fg-slider:hover .right-arrow {
    right: 0;
}

/* BULLETS */
.bullet-container {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    z-index: 9;
    bottom: 35px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

.bullet-container > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 13px;
    height: 13px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 100%;
    margin: 0 3px;
    opacity: .5;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.bullet-container>div i {
    font-size: 7px;
    color: grey;
}

.bullet-container>div.active {
    background-color: #fff;
    opacity: 1;
}

.bullet-container>div:hover {
    opacity: .7;
    background-color: #fff;
}

/* HIDDEN ELEMENTS */
.fg-hidden {
    opacity: 0;
    visibility: hidden;
}

/* ANIMATION EFFECTS */
/* scale effet */
.fg-slider.scale .slider-item {
    -webkit-transform: scale(.9);
            transform: scale(.9);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.fg-slider.scale .slider-item.active {
    -webkit-transform: scale(1);
            transform: scale(1);
}

/* slide effect slide horizontal */
.fg-slider.slide-horizontal .slider-item {
    left: -160px;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

.fg-slider.slide-horizontal .slider-item.active {
    left: 0;
}

/* slide effect vertical */
.fg-slider.slide-vertical .slider-item {
    top: -160px;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

.fg-slider.slide-vertical .slider-item.active {
    top: 0;
}

/* slide effect slide top */
.fg-slider.slide-top .slider-item {
    top: -160px;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

.fg-slider.slide-top .slider-item.active {
    top: 0;
}

/* slide effect left */
.fg-slider.slide .slider-item {
    left: -160px;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

.fg-slider.slide .slider-item.active {
    left: 0;
}

/* SLIDER LOADING ANIMATION */
.sk-folding-cube {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 50%;
    top: 45%;
    -webkit-transform: rotateZ(45deg) translate(50%, 50%);
    transform: rotateZ(45deg)  translate(50%, 50%);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
}
.sk-folding-cube.active {
    opacity: 1;
    visibility: visible;
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}